/*******************************************
           GENERAL
********************************************/
body{
  font-family: 'Open Sans', 'sans-serif';
  margin-left: 0;
  margin-right: 0;
    
}

#wrapper{ 
  max-width:940px;
  margin-left:  auto;
  margin-right:  auto;
  margin-bottom: 0;
  margin-top: 30px;
  padding: 0 5%;
  background-color: #000;
  box-shadow: 15px 15px 20px -12px rgba(0,0,0,1);
  border: 3px solid orange;              
}

a {
 text-decoration:none;

}

img{
 max-width:100%;
 border: 3px solid #fff;
}

h3{
 margin: 0 0 1em 0
 
}

#gallery{
  margin:0;
  padding:0;
  list-style:none;     
}

#gallery li{
	float: left;
	width: 45%;
	margin: 2.5%;
	color: #999;
	
}

.para{
	text-align: center;
	font-size: 1em;
	color: #eda891;
	text-transform: capitalize;
}

/*******************************************
HEADING
********************************************/

header{
  float: left;
  margin: -30px 0 30px -10px;
  padding:5px 30px 0 0;
  width: 100%;
}

#logo{
  text-align: center;
  margin: 0;
}

h1{
 font-family:'Changa One', 'sans-serif';
 margin:15px 0;
 font-size:1.75em;
 font-weight: normal;
 line-height: 0.8em;
 
}

h2{

 font-size: 0.75em;
 margin: -5px 0 0;
 font-weight: normal;
 
}



/*******************************************
NAVIGATION
********************************************/

nav{
 text-align: center;
 padding: 10px 0;
 margin: 20px 0 0;
 
}

nav ul{
  list-style:none;
  margin: 0 40px;
  padding: 0;
  
}

nav li{
  display:inline-block;
  
}

nav a{
 font-weight: 800;
 padding: 15px 10px;
}



/*******************************************
FOOTER
********************************************/


footer{
  font-size: .85em;
  text-align: center;
  clear: both;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #eda891;
  background: #000;
  
}



/*******************************************
colors
********************************************/

/* site body */

body{
  background-color: olive;
  color: #999; 
}

/* header */

header{
 background-color: #ffa07a;
 border-color: #f08080;
}

/* logo text */

h1,h2{
 color: #fff;
}

/* links */

a{
  color:#6ab47b;

}

/* nav background on mobile */

nav {
  background: #f08080;
  margin-right: -10px;
}

/*nav link*/

nav a, nav a:visited{
   color:#fff;
}

/*selected nav link*/
  nav a.selected, nav a:hover{
   color:#32673f;
}






























